.header {
  position: relative;
  width: 1920px;
  height: 100px;
  left: 0;
  top: 0;
  background: #fff;
  box-shadow: 0px 5px 40px rgba(0,0,0,0,0.1);
}
.header__body {
  display: flex;
  padding-top: 0px;
  align-items: center;
  justify-content: space-between;
}
.logo {
  height: 90px;
  width: 230px;
}
.nav-list {
  display: inline-flex;
  flex-direction: row;
}
.nav-list-item {
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
}
.nav-list-item a:hover {
  border-bottom: 2px solid orange;
  color: #000;
}
.nav-list-item:not(:last-child) {
  margin-right: 90px;
}
.icon-search {
  width: 25px;
  height: 26px;
  background-image: url('../svg/search.svg');
  background-color: white;
  background-position: right top;
  background-repeat: no-repeat;
  background-size: 25px 26px;
  border: none;
  cursor: pointer;
}
.icon-search:hover,
.icon-search:focus {
  background-image: url('../svg/search_beige.svg');
}
.btn-burger {
  width: 30px;
  height: 30px;
  background-image: url('../svg/burger.svg');
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  cursor: pointer;
  border: none;
}
/* no
.btn-burger svg path {
    stroke: inherit;
    stroke-width: inherit;
    fill: inherit;
}*/
.btn-burger:hover {
  background-image: url('../svg/burger_active.svg');
}
/*  Var old for div 
.burger-list {
  display: flex;
  flex-direction: column;
  background-color: white;
  cursor: pointer;
}
.burger-line {
  width: 30px;
  height: 3px;
  margin-bottom: 6px;
  background-color: #333;
}
.burger-line:last-child {
  margin-bottom: 0;
}
.btn-burger:focus * div {
  background-color: orange;
}
.burger-list:hover > div {
  background-color: orange;
}
.burger-list:hover > .burger-line:nth-child(2) {
  width: 20px;
  margin-left: 10px;
}
.burger-list:hover > .burger-line:last-child {
  width: 10px;
  margin-left: 20px;
}
/**/